body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}


input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}


input[type="text"]:focus {
    outline: none;
    border-color: #ae7fce;
}


button {
    background-color: #ae7fce;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #7b5b91;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}


br {
    margin-bottom: 20px;
}
